.landing-page__container {
  display: flex;
  justify-content: space-between;
}

.landing-page__wrapper {
  flex: 2; /* Takes up available space */
}

.looking-for-job__wrapper {
  flex: 2;
}

.tech-wrapper {
  flex: 1;
}

.button_looing_for_jobs {
}

.landing-page__tech {
  width: 550px;
}
