.landing-page__container {
  display: flex;
  justify-content: space-between;
}

.landing-page__wrapper {
  flex: 2;
  min-height: 80vh;
  max-height: 90vh;
  width: 100vw;
}

.looking-for-job__wrapper {
  flex: 2;
}

.tech-wrapper {
  flex: 1;
}

.landing-page__tech {
  width: 500px;
}

.landing-page__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 100vh;
}

.title__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: baseline;
  margin-top: -13rem;
}

.landing-page__logo {
  width: 30rem;
  padding: 3rem;
  margin-left: -1rem;
}

.landing-page__text {
  margin-left: 3.5rem;
  margin-top: -4rem;
  color: white;
  font-size: 2rem;
}

.looking-for-job__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingpage_button {
  padding: 0.4rem;
  background-color: #09d1d871;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 4rem;
  cursor: pointer;
  margin-top: 3rem;
}


@media screen and (max-width: 640px) {
  .landing-page__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .landing-page__logo {
    width: 10rem;
  }

  .landing-page__text {
    margin-top: 9rem;
    font-size: 1.5rem;
  }

  .landingpage_button {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 990px) {
  .landing-page__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .landing-page__logo {
    width: 10rem;
  }

  .landing-page__text {
    margin-top: 7em;
    font-size: 2rem;
  }

  .landingpage_button {
    font-size: 3rem;
    margin-bottom: 7rem;
  }
}
