.navbar_container {
  height: 1rem;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  gap: 2rem;
}

.nav-text {
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 5px;
  font-size: 23px;
  font-family: "inter";
  color: #fff;
  transition: 0.5s;
  margin-top: 0.4rem;
}

/* Styles for hover, visited, and active links */
.nav-text:hover,
.nav-text:visited,
.nav-text.active-link {
  transform: scale(1.4); /* Reduced from 1.5 */
  opacity: 1;
  filter: blur(0);
  text-decoration: none;
  color: #fff;
}

/* Styles for the pseudo-element ":before" */
.nav-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ff497c;
  transition: 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: -1;
}

.nav-text:hover:before,
.nav-text:visited:before,
.nav-text.active-link:before {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
}

/* Additional style for paragraphs with class "nav-text" */
p.nav-text {
  margin-top: 0;
}

.nav-text.saved-jobs:before {
  height: 81%;
  cursor: pointer;
}

.nav-text.saved-jobs {
  cursor: pointer;
}
