.navbar_container {
  width: 100vw;
}

.sub_container {
  min-height: 4rem;
  padding-inline: 5rem;
  padding-top: 10;
  display: flex;
  font-size: 1.3em;
  color: #ffd801;
  gap: 2;
  background-color: #d3d3d340;
}

.nav-menu {
  display: flex;
}

.nav-text {
  display: inline-block;
  position: relative;
  text-decoration: bold;
  padding: 5px;
  font-size: 23px;
  font-family: "inter";
  color: #fff;
  transition: 0.5s;
  margin-top: 0.1rem;
  margin-inline: 1.3rem;
}

/* .me-auto {
  display: flex;
  align-items: center;
  position: absolute;
  right: 10rem;
} */

.nav-text:hover,
.nav-text:visited
/* .active-link */
/* .nav-text.active  */ {
  transition: 0.5s;
  transform: scale(1.4);
  opacity: 1;
  filter: blur(0);
  text-decoration: none;
  color: white;
}

.nav-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #09d0d8;
  border-radius: 10px;
  transition: 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: -1;
}

.nav-text:hover:before,
.nav-text:visited:before
/* .nav-text.active-link:before,
.nav-text.active:before   */ {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
}

.nav-text.saved-jobs:before {
  cursor: pointer;
  margin-top: 1.8px;
  margin-bottom: 1px;
  padding: 0;
}

.nav-text.saved-jobs {
  cursor: pointer;
}

/* media quarry */

@media only screen and (max-width: 360px) {
  .navbar_container {
    padding: 2rem px;
  }

  .nav-menu {
  }

  .nav-text {
    font-size: 13px;
  }

  .sub_container {
    min-height: 60px;
    padding-top: 13;
    font-size: "1.3em";
    color: "#FFD801";
    gap: 1;
    background-color: #d3d3d340;
    padding: 0;
  }
}
