.profile-container {
  width: 160vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  gap: 30;
  padding: 25;
  align-self: center;
  margin-left: 110px;
  margin-top: 50px;
}

.profile-image {
  width: 210px;
  height: auto;
  margin: auto;
  gap: 40;
}

.hidden-profile {
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  padding: 20px;
}

.hidden-profile-container {
}

/* skilsl area*/

.skills-section {
  margin-top: 15px;
}

.skills-section h2 {
  margin-bottom: 8px;
  text-align: left;
}

.skills {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.skills li {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  gap: 15px;
}

/* project area */

.project-section {
  margin-top: 15px;
  flex: 1;
  display: flex; /* Add display: flex */
}

.project-section h2 {
  margin-bottom: 8px;
}

.project-image-container {
  margin-right: 10px; /* Add margin for spacing between images */
}

.project-image {
  width: 80%;
}

/*font are*/

p {
  color: #ffffff;
  margin-top: 20px;
}

h1 {
  color: #03edee;
  margin-top: 50px;
  margin-left: 70px;
}

h2 {
  color: #09d0d8;
}

li {
  list-style-type: none;
  color: #ffffff;
}
