.profile-container {
  width: 155vh;
  height: auto;
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  gap: 20;
}

.profile-image {
  width: 210px;
  height: auto;
}

.
