/* <SavedJobs /> */
.saved_jobs {
  position: absolute;
  top: 70px;
  right: 37px;
  text-align: end;
  background-color: white;
  opacity: 0.9;
  padding: 1rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  z-index: 3;
  cursor: pointer;
}

.saved_jobs li {
  color: #09d0d8;
  margin-bottom: 0.5rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.saved_jobs li:hover {
  box-shadow: inset 330px 0 0 0 #09d0d8;
  color: white;
}
