/*Warm Or Cold Page*/

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.WarmOrCold_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

/* Warm Or Cold Card */
.WarmOrColdCard_wrap {
  background-size: cover;
  border: 1px solid black;
  width: 15rem;
  height: 20rem;
  padding: 1rem;
  border-radius: 1rem;
}

.WarmOrColdCard_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
