/* City Card */
.cityCard_wrap {
  background-size: cover;
  border: 1px solid black;
  width: 15rem;
  height: 20rem;
  padding: 1rem;
  border-radius: 1rem;

}

.cityCard_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.cityCard_btn {
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
}

/* Job list Box */
.joblist_wrap {
  border: 1px solid black;
  width: 15rem;
  height: 20rem;
  padding: 1rem;
  border-radius: 1rem;
}

/* Warm Jobs */
.warm_wrap {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

/* Apply Page */

.job_wrapper {
}

.job_title {
}

.job_description {
}

.apply_form {
}

.apply_message {
}
